<div class="container">
    <div class="row">

        <div class = "col-3" *ngFor = "let h of listaHeroes" style="margin-bottom: 15px; margin-top: 5px;">

            <div class="card" style="width: 18rem;">
                <img src="{{h.urlFinalImagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{h.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <small class="link">Heroe ID: {{h.id}}</small>
                </div>
            </div>

        </div>

    </div>
</div>

